#header
  height: 100px
  width: 100%
  background: #333

#container
  height: 100vh
  margin: 0 auto

#alchemy, .alchemy, element.style
  height: 100vh
  margin: 0 auto

#control-dash
  display: none
